.git
.github
.gradle
**/build
!**/src/main/**/build
!**/src/test/**/build
.idea
.vscode
out
bin
*.iml
*.iws
*.ipr
*.log
*.jar
!.docker/
!.docker/**
!.docker/**/*.jar
*.war
*.ear
*.zip
*.tar.gz
.env
.env.*
application-secret.properties
**/application-secret.properties
kis-token-cache.json
*.kis-token-cache.json
